---
layout: default
---
<div class="home">
  <div class="site-intro">
    <p>{{ site.description }}</p>
    <p class="source-link">
      원본: <a href="{{ site.author.original_url }}" target="_blank" rel="noopener">Musings on Markets (Aswath Damodaran)</a>
    </p>
  </div>

  <h2 class="post-list-heading">번역 포스팅 목록</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
      <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%Y.%m.%d" }}
      </time>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.excerpt %}
      <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 120 }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
