---
layout: default
---
<div class="home">
  <div class="site-intro">
    <p>{{ site.description }}</p>
    <p class="source-link">
      원본: <a href="{{ site.author.original_url }}" target="_blank" rel="noopener">Musings on Markets (Aswath Damodaran)</a>
    </p>
  </div>

  <h2 class="post-list-heading">번역 포스팅 목록</h2>
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li class="post-item">
      <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%Y.%m.%d" }}
      </time>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.excerpt %}
      <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 120 }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&larr; 최신글</a>
    {% endif %}
    <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">이전글 &rarr;</a>
    {% endif %}
  </nav>
  {% endif %}
</div>
